* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav .nav-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: darkgreen;
    color: white;
}

nav .logo {
    font-size: 1.5rem;
}

nav #nav-toggle {
    font-size: 1.5rem;
}


nav .links a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: capitalize ;
    transition: all .5s ease-in-out;
    color: darkgreen;
}

nav .links a:hover {
    background-color:rgba(255, 255, 255, 0.455);
    margin-left: 20px;
}

nav .links {
    background-color: yellowgreen;
    height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

nav ul.show-links {
    height: 10rem;
}

@media (min-width: 800px){
    .nav-details {
        /* max-width: 1170px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1rem;
    }

    .nav-header {
        padding: 0;
    }

    nav .toggle {
        display: none;
    }

    nav .links {
        height: auto;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
    }

    nav .links a {
        padding: 0;
        margin: 0 0.5rem;
        color: white;
        transition: all 0s none;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    nav .links a:hover{
        background-color: transparent;
        padding: 0;
        margin: 0;
        transition: none;
    }

    nav {
        background-color: darkgreen;
    }


}